.box {
	width: 720px;
	height: 20px;
	border: 1px solid grey;
	padding: 10px;
	border-width: 1px 1px;
	background: red;
}

.link {
	width:25%;
	background: red;
	float: left;
	text-decoration: none;
}
